
@model CKiralama.Model.Kullanıcı
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Yeni Kullanıcı Ekleme Sayfası
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="body">
                @using (Html.BeginForm("Create", "AuthorAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="Resim:">Kullanıcı Resmi</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="file" id="File" name="File" accept=".jpg,.JPG,.PNG,.png,.jpeg,.JPEG" class="form-control" />
                        </div>
                    </div>
                    <label for="Ad:">Ad </label>
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "reguired" } })
                        </div>
                    </div>

                    <label for="Soyad:">Soyad </label>
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "reguired" } })
                        </div>
                    </div>


                    <label for="Email:">Email</label>
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "reguired" } })
                        </div>
                    </div>


                    <label for="Şifre:">Şifre </label>
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "reguired", @type = "password" } })
                        </div>
                    </div>

                    <label for="DogumTarihi:">Dogum Tarihi </label>
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "reguired" } })
                        </div>
                    </div>





                    <div class="form-group">
                        @Html.RadioButton("Yetki", "Admin", new { @checked = true, @id = "admin" })
                        @*<input type="radio" name="gender" id="male" class="with-gap">*@
                        <label for="admin">Admin</label>

                        @Html.RadioButton("Yetki", "Müşteri", new { @id = "user" })
                        <label for="user" class="m-l-20">Müşteri</label>
                    </div>
                    <br>
                    <div align="center">
                        <input type="submit" class="btn btn-success m-t-15 waves-effect" value="Kullanıcı Kaydet">

                    </div>}
            </div>
        </div>
    </div>
</div>

